/* CSS Document */
*{margin:0; padding:0;font-size:16px; font-family:"微软雅黑","宋体"}
img{ border:none; display:block}
ul li{ list-style:none;}
a{ text-decoration:none; color:#666}
em{ font-style:normal;}